{% extends 'base.html.twig' %}

{% block title %}{{ _('Hello %controller%!', {'%controller%': controller_name}) }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <h1>{{ _('Hello %controller%!', {'%controller%': controller_name}) }}</h1>

    <h2>{{ _('Current language: %lang%', {'%lang%': lang}) }}</h2>

    <h3>{{ testMessage }}</h3>

    <h4>{{ _('Hey Twig test') }}</h4>
</div>
{% endblock %}
